 

<form class="container was-validated col-sm-8 mt-3" method="POST" action="/users/AggiungiMezzo">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Tipo di Mezzo &nbsp;&nbsp;</span>
        </div>
        <select id="main_menu" onchange="changeStatus()" class="custom-select" name="main_menu" required>
            <option value="" selected></option>
            <option value="Auto">Auto</option>
            <option value="Moto">Moto</option>
            <option value="Bici">Bici</option>
            <option value="Monopattino">Monopattino</option>
   
        </select>
        <div class="invalid-feedback">
            Selezionare Tipo di Mezzo
        </div>
    </div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Modello&nbsp;</span>
        </div>
        <select id="sub_menu" class="custom-select" name="sub_menu" required>
            </select>
        <div class="invalid-feedback">
            Selezionare Modello
        </div>
    </div>
    
    <div class="form-group">
        <label for="foto">Foto *</label>
        <input name="foto" id="foto" type="file" accept="image/*" class="form-control" size="32" maxlength="40" required/>
    </div>

    <div class="form-group">
        <label for="tariffa">Tariffa all' ora *</label>
        <input name="tariffa" id="tariffa" type="float" class="form-control" size="32" maxlength="10" required />
    </div>

    <div class="form-group">
        <label for="descrizione">Breve descrizione *</label>
        <input name="descrizione" id="descrizione" type="text" class="form-control" size="255" maxlength="255" required />
    </div>

  
    <div class="form-group" id="Cilindrata" >
        <label for="cilindrata" >Cilindrata *</label>
        <input name="cilindrata" id="cilindrata" type="number" class="form-control" size="32" maxlength="4"  required />
    </div>

    <div class="form-group"  id="Cavalli">
        <label for="cavalli">Cavalli *</label>
        <input name="cavalli" id="cavalli" type="number" class="form-control" size="32" maxlength="3" required />
    </div>

    <div class="form-group"  id="Targa">
        <label for="targa">Targa *</label>
        <input name="targa" id="targa" type="text" class="form-control" size="32" maxlength="10" required />
    </div>

    <div class="form-group"  id="Assicurazione">
        <label for="assicurazione">Assicurazione *</label>
        <input name="assicurazione" id="assicurazione" type="boolean" class="form-control" size="10" maxlength="40" required />
    </div>
    
    <center>
        <button name="ok" id="ok" type="submit" class="btn btn-outline-secondary mt-3">Conferma</button>
    </center>
    </div>
</form>



<script>
    function changeStatus(){
        var status =document.getElementById("main_menu");
        if(status.value=="Bici" || status.value=="Monopattino" ){
            
            document.getElementById("Cilindrata").style.visibility="hidden";
            document.getElementById("cilindrata").required = false; 
            document.getElementById("Cavalli").style.visibility="hidden";
            document.getElementById("cavalli").required = false; 
            document.getElementById("Targa").style.visibility="hidden";
            document.getElementById("targa").required = false; 
            document.getElementById("Assicurazione").style.visibility="hidden"
            document.getElementById("assicurazione").required = false; 
        }
        else{
            document.getElementById("Cilindrata").style.visibility="visible";
            document.getElementById("Cavalli").style.visibility="visible";
            document.getElementById("Targa").style.visibility="visible";
            document.getElementById("Assicurazione").style.visibility="visible";
    
        } 
    
    }
    </script> 