<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!-- ---- Include the above in your HEAD tag --------  -->



<form class="container was-validated col-sm-8 mt-3" method="POST" action="/users/AggiungiParcheggio">

    
  <legend>INSERISCI DATI PARCHEGGIO</legend>




  
  <div class="ID_parcheggio">
    <label for="titolo">ID impiegato parcheggio</label>
    <input name="ref_IDimp" type="number" id="ref_IDimp" min="0" class="form-control">
   </div>


    <!-- <div class="ID_parcheggio">
      <label for="id_parcheggio">ID parcheggio</label>
      <select name="id_parcheggio" id="id_parcheggio">
       <option type="number" value="">0002</option>
      </select>
     </div> -->

  
    <!-- <div class="mezzi_autorizzati">
    <fieldset>
     <legend>Mezzi Autorizzati</legend>
      <input type="checkbox" name="SI" id="auto" />
      <label for="mezzoa">Auto</label>
      <input type="checkbox" name="SI" id="moto" />
      <label for="mezzom">Moto</label>
      <input type="checkbox" name="SI" id="bici" />
      <label for="mezzob">Bicicletta</label>
      <input type="checkbox" name="SI" id="monopattini" />
      <label for="mezzomp">Monopattino</label>
    </fieldset>
  </div> -->

  
  <div class="mezzi_autorizzati">
    <fieldset>
     <legend>Mezzi Autorizzati</legend>
      <label for="auto">Auto</label>
      <input type="checkbox" name="mezzo_auto" id="mezzo_auto"  value="si"/>
      <label for="moto">Moto</label>
      <input type="checkbox" name="mezzo_moto" id="mezzo_moto" value="si"/>
      <label for="bici">Bicicletta</label>
      <input type="checkbox" name="mezzo_bici" id="mezzo_bici" value="si" />
      <label for="monopattini">Monopattino</label>
      <input type="checkbox" name="mezzo_monopattino" id="mezzo_monopattino" value="si"/>
    </fieldset>
  </div>

   
   

 <div class="Posti">
   <legend>Numero posti</legend>
  </div>

  <div class="Posti">
    <label for="numero_auto">Auto &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <input type="number" name="numero_auto" id="numero_auto" required/>
  </div>

  <div class="Posti">
    <label for="numero_moto">Moto &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <input type="number" name="numero_moto" id="numero_moto" required/>
  </div>

    <div class="Posti">
    <label for="numero_bici">Bici &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
    <input type="number" name="numero_bici" id="numero_bici" required/>
  </div>

  <div class="Posti">
    <label for="numero_monopattino">Monopattino</label>
    <input type="number" name="numero_monopattino" id="numero_monopattino"required />
  </div>

   <div class="StatoParcheggio">
    <fieldset>
      <legend>Stato Parcheggio</legend>
      <label for="stato_disp">Disponibile</label>
       <input type="radio" name="stato" id="stato"  value="disponibile" required/>
       <label for="stato_non">Non Disponibile</label>
       <input type="radio" name="stato" id="stato"  value="non disponibile" required/>
       <label for="stato_man">In Manutenzione</label>
       <input type="radio" name="stato" id="stato"  value="in manutenzione" required/>
     </fieldset>
  </div>
  <br>

   <!-- <li>
     <label for="statop">Stato parcheggio</label>
     <textarea name="statop" id="statop" cols="30" rows="1"></textarea>
   </li>  -->

  

  <div class="descrizione">
    <label for="descrizione">Breve Descrizione</label>
    <input  type = "text" id="descrizione"name="descrizione" class="form-control"></input>
  </div>


  <p class="lead text-danger mt-4">Luogo in cui si trova il Parcheggio*</p>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text">Regione&nbsp;&nbsp;</span>
      </div>
      <select id="region" class="custom-select" name="region">
          <option value="" selected></option>
          <option value="Abruzzo">Abruzzo</option>
          <option value="Basilicata">Basilicata</option>
          <option value="Calabria">Calabria</option>
          <option value="Campania">Campania</option>
          <option value="Emilia-Romagna">Emilia-Romagna</option>
          <option value="Friuli-Venezia Giulia">Friuli-Venezia Giulia</option>
          <option value="Lazio">Lazio</option>
          <option value="Liguria">Liguria</option>
          <option value="Lombardia">Lombardia</option>
          <option value="Marche">Marche</option>
          <option value="Molise">Molise</option>
          <option value="Piemonte">Piemonte</option>
          <option value="Puglia">Puglia</option>
          <option value="Sardegna">Sardegna</option>
          <option value="Sicilia">Sicilia</option>
          <option value="Toscana">Toscana</option>
          <option value="Trentino-Alto Adige">Trentino-Alto Adige</option>
          <option value="Umbria">Umbria</option>
          <option value="Valle d'Aosta">Valle d'Aosta</option>
          <option value="Veneto">Veneto</option>
      </select>
      <div class="invalid-feedback">
          Selezionare la regione di nascita
      </div>
  </div>
  
  <div class="input-group mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text">Provincia&nbsp;</span>
      </div>
      <select id="state" name="state" class="custom-select" >
              <option value="" selected></option>
          </select>
      <div class="invalid-feedback">
          Selezionare la provincia di nascita
      </div>
  </div>
  
  <div class="input-group mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text">Comune&nbsp;&nbsp;</span>
      </div>
      <select id="town" name="town" class="custom-select" >
              <option value="" selected></option>
          </select>
      <div class="invalid-feedback">
          Selezionare il comune di nascita
      </div>
  </div>
  
  <div class="indirizzo"></div>
    <label for="indirizzo">Indirizzo:</label>
    <input  type = "text" id="indirizzo"name="indirizzo" class="form-control"></input>
  </div>




  <br> <br>
  <legend>Scegli una foto per il tuo parcheggio</legend>

  <br><br>

  <form action="upload" method="post" enctype="multipart/form-data">
    Selezione immagine da caricare:
    <input type="file" name="foto" id="foto" accept="image/*"/>
    <button type="submit" name="submit" id="submit">Conferma</button>
</form>
  
 
<script src="/javascripts/formval.js"></script>

    
