<div class="container">

    <br>
      <ul class="list-group">
        <tr class="list-group-item"><b>Questi sono i tuoi dati del mezzo:</b> </tr>
        <a href="/" class="list-group-item">  ID_mezzo : <%- mezzo.ID_mezzo %>  </a>
        <li class="list-group-item">  tipo_mezzo: <%- mezzo.tipo_mezzo %>  </li>
        <li class="list-group-item">  modello : <%- mezzo.modello %>  </li>

        <img src="../images/<%- mezzo.foto%>" class="card-img" alt="image">
      <div role="group" aria-label="Basic example" style="text-align: right; padding-top: 15px">
          <!-- <a href="modificadati"><button type="button" class="btn btn-outline-secondary">Modifica Dati</button></a>
          <a href="/users/eliminautente" onclick="if(!confirm('Sei sicuro di voler eliminare?')) return false"><button type="button" class="btn btn-outline-secondary">Elimina Account</button></a> -->
      </div>   <br>
      


