<center><form action="/users/RecuperoPassword" method="POST">
<br>
    <label for="email">Email</label>
    <input type="email" class="form control col-sm-6" id = "email" name = "email" required>
    <div id= "UNTError"></div>
    <br> <br>
    <button type="submit"  class="btn btn-outline-secondary btn-sm">Invia</button>

</form>
</center>

<script>

notifica = ('<%-notifica.string%>')
counter = parseInt('<%-notifica.counter%>')

if (notifica == 'UNT' && counter == 0 ){
    document.getElementById('UNTError').innerHTML = 'Utente non trovato'
    document.getElementById('UNTError').style.color = 'Red'

}
                     
  
  
  </script>