<center><form action="/users/ReimpostaPassword" method="POST">
    <br>
        <label for="email">Email</label>
        <input type="email" class="form-control col-sm-6" id = "email" name = "email" required>
        <div id='UNTError'></div>
        <label for="tkn">Token</label>
        <input type="number" class="form-control col-sm-6" id = "tkn" name = "tkn" required>
        <div id= "tknError"> </div>
        <label for="password">Password</label>
        <input type="password" class="form-control col-sm-6" id = "pass" name="pass" required>
        <label for="repass">Reinserisci Password</label>
        <input type="password" class="form-control col-sm-6" id = "repass" name = "repass" required>
        <br> <br>
        <button type="submit"  class="btn btn-outline-secondary btn-sm">Invia</button>
    
    </form>
    </center>

    <script>
//gestione errori
        notifica = ('<%-notifica.string%>')
        counter = parseInt('<%-notifica.counter%>')
        
        if (notifica == 'UNT' && counter == 0 ){
            document.getElementById('UNTError').innerHTML = 'Utente non trovato'
            document.getElementById('UNTError').style.color = 'Red'
        }

        if (notifica == 'token errato' && counter == 0 ){
            document.getElementById('tknError').innerHTML = 'Token Errato'
            document.getElementById('tknError').style.color = 'Red'
        }

                             
          
          
          </script>