<main>
 
    <center>
      <div class="modificaparcheggio">

          <br>
          <br>
            <br><br>
      <img style="width: 28%; margin: 20px;" src="../images/aggiungi profilo.png" alt="" usemap="#registra" >
     <map name="registra">
      <area shape="rect" coords="0,0,500,500" alt="" href="/reg_amministratore">
        </map>

        <img style="width: 28%; margin: 20px;" src="../images/modifica profilo.png" alt="gestione_mezzi" usemap="#modifica" >
     <map name="modifica">
      <area shape="rect" coords="0,0,500,500" alt="" href="/cercaUtenze">
        </map>
      
        <br>
         
    

</div>

</div>


</center>

<a class="btn btn-outline-secondary mt-3" style = "float: left;"href="javascript:history.back()" class = "previous">&laquo; Indietro</a>