<main>
 
    <center>
      <div class="modificaparcheggio">

          <br>
          <br>
            <br><br>
      <img style="width: 30%; margin: 40px;" src="../images/aggiungi parcheggio.png" alt="aggiungi parcheggio" usemap="#aggiungi" >
     <map name="aggiungi">
      <area shape="rect" coords="0,0,500,500" alt="" href="../AggiungiParcheggio">
        </map>

        <img style="width: 30%; margin: 40px;" src="../images/modifica parcheggio.png" alt="modifica parcheggio" usemap="#modifica" >
     <map name="modifica">
      <area shape="rect" coords="0,0,500,500" alt="" href="/ricercaParcheggio">
        </map>
      
        <br>
         
    

</div>

</div>


</center>

<a class="btn btn-outline-secondary mt-3" href="javascript:history.back()" class = "previous">&laquo; Indietro</a>