<main>
 
    <center>
      <div class="modificaparcheggio">

          <br>
          <br>
            <br><br>
      <img style="width: 35%; margin: 20px;" src="../images/aggiungi mezzo.png" alt="" usemap="#aggiungi" >
     <map name="aggiungi">
      <area shape="rect" coords="0,0,500,500" alt="" href="/AggiungiMezzo">
        </map>

        <img style="width: 35%; margin: 20px;" src="../images/modifica mezzo.png" alt="gestione_mezzi" usemap="#modifica" >
     <map name="modifica">
      <area shape="rect" coords="0,0,500,500" alt="" href="/RicercaMezzoBASIC">
        </map>
      
        <br>
         
    

</div>

</div>


</center>

<a class="btn btn-outline-secondary mt-3" style="float: left;" href="javascript:history.back()" class = "previous">&laquo; Indietro</a>