
<center>
  <main>
  
    <br><br>
        
          <!-- <div class="col-lg-4">
          
          <svg class="ca-placeholder-img" ></svg>
          <p><a class="btn btn-lg btn-primary" href="ricercaparcheggio">Modifica un Parcheggio</a></p> -->
  
          <!-- <div class="modifica">
          <img src="../images/modifica.png" usemap="#ModificaParcheggio" border="0">
          <map name="ModificaParcheggio" id="ModificaParcheggio">
            <area href="ricercaparcheggio" shape="rect" coords="100, 200, 300, 400">
          </map>
          </div> -->
          <div class="modificaparcheggio">
          <img src="../images/modifica.png" alt="modificaparcheggio" usemap="#modificaparcheggio">
         <map name="modificaparcheggio">
          <area shape="rect" coords="0,0,500,500" alt="" href="/users/datiparcheggio">
            </map>
          </div>
             
             <p><br>MODIFICA PARCHEGGIO</p>
         
             
  
         <br><br><br>
          
          <!-- <div class="ricercamezzo">
          <img src="../images/mezzi.png" usemap="#RicercaMezzo" border="0">
          <map name="RicercaMezzo" id="RicercaMezzo">
            <area href="ricercamezzo" shape="rect" coords="100, 200, 300, 400">
          </map>
          </div> -->
  
  
        <div class="ricercamezzo">
        <img src="../images/mezzi.png" alt="ricercamezzo" usemap="#ricercamezzo" >
         <map name="ricercamezzo">
           
        <area href="/users/elencomezziParcheggio" shape="rect" coords="0,0,500,500" alt="ricerca">
  
        </map>
        </div>
        <p>ELENCO DEI MEZZI</p>
  
  
        <!-- </div>
        <div class="col-lg-4">
          <svg class="cb-placeholder-img " ></svg>
          <p><a class="btn btn-lg btn-primary" href="ricercamezzo">Elenco mezzi</a></p>
  
        </div>
      </div> -->
  
      <!-- <hr class="featurette-divider"> -->
      
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  </center>
  