
     

  <main>
  
    <br><br>
    <center>
          
          <div class="modificaparcheggio">
          <img src="../images/modifica Parcheggio.png"  style ="width: 30%;" alt="modificaparcheggio" usemap="#modificaparcheggio">
         <map name="modificaparcheggio">
          <area shape="rect" coords="0,0,500,500" alt="" href="/users/ricercaParcheggio">
            </map>
            <img src="../images/mezzi.png" alt="ricercamezzo" usemap="#ricercamezzo" >
         <map name="ricercamezzo">
        <area href="/users/elencomezziParcheggio" style = "width: 30%;" shape="rect" coords="0,0,500,500" alt="ricerca">
        </map>
          </div>
             
          <div>
        <img style="width: 28%; margin: 20px;" src="../images/segnala_guasto.png" alt="modificaparcheggio" usemap="#segnalaGuasto" >
        <map name="segnalaGuasto">
         <area shape="rect" coords="0,0,500,500" alt="" href="segnalaGuasto">
           </map>
          </div>
          </center>
    
          <br> <hr> <br> 

          <script>




          </script>