<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!-- ---- Include the above in your HEAD tag -------- -->

<form class="container was-validated col-sm-8 mt-3" method="POST" action="/users/utenteregistrato">

  <body>
      
       <form action="#">
      
              <legend>Inserisci dati Parcheggio</legend>
  
                <div class="ID_parcheggio">
                  <label for="titolo">ID parcheggio</label>
                  <select name="titolo" id="titolo">
                   <option value="">0001</option>
                  </select>
                 </div>
  
              
                <div class="MezziAutorizzati">
                <fieldset>
                 <legend>Mezzi Autorizzati</legend>
                  <input type="checkbox" name="mezzo" id="mezzoa" />
                  <label for="mezzoa">Auto</label>
                  <input type="checkbox" name="interessi" id="mezzom" />
                  <label for="mezzom">Moto</label>
                  <input type="checkbox" name="interessi" id="mezzob" />
                  <label for="mezzob">Bicicletta</label>
                  <input type="checkbox" name="interessi" id="mezzomp" />
                  <label for="mezzomp">Monopattino</label>
                </fieldset>
              </div>
  
               
               
  
             <div class="Posti">
               <legend>Numero posti</legend>
              </div>
  
              <div class="Posti">
                <label for="numeroa">Auto &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                <input type="number" name="numeroauto" id="numeroa" />
              </div>
  
              <div class="Posti">
                <label for="numerom">Moto &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                <input type="number" name="numeromoto" id="numerom" />
              </div>
  
                <div class="Posti">
                <label for="numerob">Bici &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                <input type="number" name="numerobici" id="numerob" />
              </div>
  
              <div class="Posti">
                <label for="numeromono">Monopattino</label>
                <input type="number" name="numeromonopattino" id="numeromono" />
              </div>
  
               <div class="StatoParcheggio">
                <fieldset>
                  <legend>Stato Parcheggio</legend>
                   <input type="radio" name="stato" id="statodisp" />
                   <label for="statodisp">Disponibile</label>
                   <input type="radio" name="stato" id="statono" />
                   <label for="statono">Non Disponibile</label>
                   <input type="radio" name="stato" id="statoin" />
                   <label for="statoin">In Manutenzione</label>
                 </fieldset>
              </div>
              <br>
  
               <!-- <li>
                 <label for="statop">Stato parcheggio</label>
                 <textarea name="statop" id="statop" cols="30" rows="1"></textarea>
               </li> -->
           
              
      
              <div class="descrizione">
                <label for="descrizione">Breve Descrizione</label>
                <textarea name="descrizione" id="descrizione" cols="30" rows="5"></textarea>
              </div>
  
              <br><br>
              <p>Scegli una foto per il tuo parcheggio</p>
             
              <div class="file-upload">
                <input class="file-upload__input" type="file" name="myFile[]" id="myFile" multiple>
                <!-- <button class="file-upload__button" type="button">Choose File(s)</button>
                <span class="file-upload__label"></span> -->
              </div>
              <br><br>
              
              <div style="float:left; display:block; width:700px; height:100px; background-color:clear;"></div>

              <div class="cancella">
                <input type="submit" name="submit" id="submit" value="Cancella Parcheggio" />
              </div>


              <div style="float:left; display:block; width:700px; height:150px; background-color:clear;"></div>
              
                <div class="conferma">
                <input type="submit" name="submit" id="submit" value="Conferma" />
              </div>
              <div style="clear:both;"></div>
             
           

        </form>
      </body>
      