<br>
<form class="container was-validated col-sm-8 mt-3" method="POST" action="/users/ultimaModifica">

   
       

           <div class="form-group-time">
            <label for="dal">Dal(Giorno/ore)</label>
            <input id="dal" name = "dal"  type="datetime-local" class = "form-control" min=""required/>
            <div class="invalid-feedback">
Inserire una data ed un orario
            </div>

            <label for="al">Al(Giorno/ore)</label>
            <input id="al" name = "al"   type="datetime-local" class = "form-control"       value="<%-noleggi.al%>"        required/>
            <div class="invalid-feedback">
                Inserire una data ed un orario
            </div>
        </div>

   <div class="form-group_autista">      
  <label for="Destinazione">Destinazione </label>
  <input id="Destinazione" name="Destinazione" type="text" class="form-control" placeholder="<%-noleggi.dove%>" value="<%-noleggi.dove%>"/>
   </div>

        <br><br>
      
        <div class = "button_group">
            <a class="btn btn-outline-secondary mt-3" href="javascript:history.back()" class = "previous">&laquo; Indietro</a>
        <button style="float: right;"  type="submit" class="btn btn-outline-secondary -3"  >Avanti</button>
    </div>
</form>