<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="topnav" id="myTopnav">
 <a> <img class="navbar-brand"style="width:50px" src="images/favicon.png"></img>
  <img class="navbar-brand"style="width:150px" src="images/topNoleggi.png"></img></a>
  <a href="/" class="active a">
  Home
  </a>
  <% if(utente_loggato == null) { %>
           
    <a class="a" href="registrati">Registrati</a>
    <a class="a" href="accedi">Accedi</a>
    <%}%>

        <% if(utente_loggato != null) { %>


          <% if(utente_loggato.tipo_utente=='Amministratore' ) { %>
           
            <a class="a"href="logout">Logout</a>
            
            <%}%>

          <% if(utente_loggato.tipo_utente=='ImpiegatoParcheggio' ) { %>
   
            <a class="a"href="segnalaGuasto">Segnala Guasto</a>
            <a class="a"href="logout">Logout</a>
            <%}%>  

            <% if(utente_loggato.tipo_utente=='Autista' ) { %>
           
              <a class="a" href="logout">Logout</a>
              <%}%> 

        <% if(utente_loggato.tipo_utente == 'Utente') { %>
 
          <a class="a" href="../NoleggioMezzi">NoleggioMezzi</a>
          <a  class="a" href="/users/mieiNoleggi">I Miei Noleggi</a>
  
        <a class="a"href="acc">Modifica Utente</a>
        <a class="a"href="logout">Logout</a>
    <%}%>
    <%}%>
 
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>



<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>
</html>