




<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <img class="navbar-brand"style="width:50px" src="images/favicon.png"></img>
      <img class="navbar-brand"style="width:150px" src="images/topNoleggi.png"></img>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <!-- Setting the links to #! will ensure that no action takes place on click. -->
        

        <li><a href="/" class="active"><i class="fa fa-fw fa-home"></i>Home</a></li>
        <% if(utente_loggato == null) { %>
        <li><a href="accedi">Accedi</a></li>
        <li><a href="registrati">Registrati</a></li>
        <%}%>
        <% if(utente_loggato != null) { %>

    
          <% if(utente_loggato.tipo_utente=='Amministratore' ) { %>
           
            <li><a href="logout">Logout</a></li>
            
            <%}%>

          <% if(utente_loggato.tipo_utente=='ImpiegatoParcheggio' ) { %>
   
            <li><a href="segnalaGuasto">Segnala Guasto</a></li>
            <li><a href="logout">Logout</a></li>
            <%}%>  

            <% if(utente_loggato.tipo_utente=='Autista' ) { %>
           
              <li><a href="logout">Logout</a></li>
              <%}%> 

        <% if(utente_loggato.tipo_utente == 'Utente') { %>
 
          <li><a href="../NoleggioMezzi">NoleggioMezzi</a></li>
          <li><a href="/users/mieiNoleggi">I Miei Noleggi</a></li>
        <li><a href="acc">Modifica Utente</a></li>
        <li><a href="logout">Logout</a></li>
      </div>
    </div>
    <%}%>
    <%}%>
  </div>  
      
      </ul>
    </nav>
  </div>
</section>

<style>

</style>


<script>
  (function($) { // Begin jQuery
  $(function() { // DOM ready
    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function(e) {
      $(this).siblings('.nav-dropdown').toggle();
      // Close one dropdown when selecting another
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    // Clicking away from dropdown will remove the dropdown class
    $('html').click(function() {
      $('.nav-dropdown').hide();
    });
    // Toggle open and close nav styles on click
    $('#nav-toggle').click(function() {
      $('nav ul').slideToggle();
    });
    // Hamburger to X toggle
    $('#nav-toggle').on('click', function() {
      this.classList.toggle('active');
    });
  }); // end DOM ready
})(jQuery); // end jQuery
</script>



<script>
  document.getElementById("a").addEventListener("click", fire);
 
 
 //  function fire(){
 //   let timerInterval
 //   Swal.fire({
 //     title: 'Auto close alert!',
 //     html: 'I will close in <b></b> milliseconds.',
 //     timer: 2000,
 //     timerProgressBar: true,
 //     didOpen: () => {
 //       Swal.showLoading()
 //       const b = Swal.getHtmlContainer().querySelector('b')
 //       timerInterval = setInterval(() => {
 //         b.textContent = Swal.getTimerLeft()
 //       }, 100)
 //     },
 //     willClose: () => {
 //       clearInterval(timerInterval)
 //     }
 //   }).then((result) => {
     
 //     /* Read more about handling dismissals below */
 //     if (result.dismiss === Swal.DismissReason.timer) {
 //       location.replace("/accedi")
 //       console.log('I was closed by the timer')
 //     }
 //   })}
 //   </script>