<center><form action="/users/RecuperoPassword" method="POST">
<br>
    <label for="email">Email</label>
    <input type="email" class="form control col-sm-6" id = "email" name = "email" required>
    <br> <br>
    <button type="submit"  class="btn btn-outline-secondary btn-sm">Invia</button>

</form>
</center>