

<form class="container was-validated col-sm-8 mt-3" method="POST" action="/users/ricercaMezzo">

    <body>
    <div class="RicercaParcheggio">
    
     <form action="/users/ricercaMezzo" method="GET">
      <center>
      <legend>Inserisci dati Mezzo da cercare</legend>
      </center>

    <center>
               <div class="ID_mezzo col-sm-6">
                <label for="ID_mezzo">ID mezzo</label>
                <input type="number" name="ID_mezzo" id="ID_mezzo" class="form-control" min="0" required />
              <div id = "myError"></div>
              
              <a class="btn btn-outline-secondary mt-3" style="float: left;" href="javascript:history.back()" class = "previous">&laquo; Indietro</a>
                <input class="btn btn-outline-secondary mt-3" style="float: right;" type="submit" name="submit" id="submit" />
              </div>
            </center>
             
      </form>

     
    </div>
    </body>

    <script>
      error = '<%-ErrorHandler.myError%>'
      if (error == 'MI'){
        document.getElementById('myError').innerText = 'Mezzo inesistente'
        document.getElementById('myError').style.color = 'red'
      }
      else{}
    </script>