<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!-- ---- Include the above in your HEAD tag -------- -->

<form class="container was-validated col-sm-8 mt-3" method="POST" action="/users/ricercaMezzo">

    <body>
    <div class="RicercaParcheggio">
    
     <form action="#">
    
            <legend>Inserisci dati Mezzo da cercare</legend>

              <div class="ID_parcheggio">
                <label for="ID_parcheggio">ID parcheggio</label>
                <input type="number" name="ID_parcheggio" id="ID_parcheggio" />
               </div>

               <div class="ID_mezzo">
                <label for="ID_mezzo">ID mezzo</label>
                <input type="number" name="ID_mezzo" id="ID_mezzo" />
               </div>

               <div class="ricerca">
                <input type="submit" name="submit" id="submit" value="Ricerca" />
              </div>
             

      </form>
    </div>
    </body>