



<center>
<form action="/users/SegnalaGuasto" method="post">
<div class="form-group  col-sm-8">
    <label for="ID_mezzo">ID mezzo *</label>
    <input id="ID_mezzo" name="ID_mezzo" type="number" class="form-control" required/>

</div>

<div class="form-group col-sm-8">
    <label for="guasto">Descrizione Guasto *</label>
    <input name="descrizione_guasto" id="descrizione_guasto" type="text" class="form-control"  required/>
</div>


    <div class="form-group col-sm-8">
        <label for="foto">Foto *</label>
        <input name="foto_guasto" id="foto_guasto" type="file" accept="image/*" class="form-control" required/>
    </div>
    

</center>


<a class="btn btn-outline-secondary mt-3" href="/" class = "previous">&laquo; Indietro</a>
<button style="float: right;" type="submit" class="btn btn-outline-secondary -3">Avanti</button>
</form>

<script>

notifica = ('<%-notifica.string%>')
counter = parseInt('<%-notifica.counter%>')

if (notifica == 'ERRORE' && counter == 0 ){
Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'Mezzo non Trovato',
  footer: 'Tornare alla pagina precedente per trovare ID del mezzo'
})



}
</script>