<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
            Pagina Di Aggiungi Mezzo
        </title>
</head>

<body>
    <% include partials/navbar.ejs %>
            <div class="container">
          
             
                <div id="corpoPagina">
                    <br>
                    
                    <h3>Aggiungi Mezzo</h3>
                    <div class="formContainer">
                                <% include partials/aggiungimezzoform.ejs %>
                    </div>
                </div>
               
            </div>

            <br>
<center>
<hr class = 'col-sm-8'> 
</center>
<br>
            <% include partials/footer.ejs %>
            
            <script src="/javascripts/formval.js"></script>

           
</body>

</html>