<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    Aggiungi Mezzo
    </title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <h3>Aggiungi Mezzo</h3>
            <div class="formContainer">
            <% include partials/FormAggiungiMezzo.ejs %>
            </div>
        </div>    
    </div>
    <br><br>
<% include partials/footer.ejs %>      
</body>
</html>