<!DOCTYPE html>
<html>

    
<head></head>
    <%- include('partials/head') -%>
        <title>
            Proc Noleggi S.r.l.
        </title>
        

</head>

<body>

    <br> <br>
    <div class="container">
        <% include partials/navbar.ejs %>
        <div id="corpoPagina">
            <div class="contenutoPagina">
                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <% include partials/UtenteNonEsiste.ejs %>
                </div>
            </div>
        </div>
      
    </div>   
    <% include partials/footer.ejs %>
</body>
</html>
