<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    Autenticazione
    </title>
</head>
<% include partials/navbar.ejs %>
<main>
<body>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <div class="form-Container">
                <br><br><br>
                <% include partials/FormAutenticazione.ejs %>
            </div>
        </div>
     </div>
<br><br><br><br><br><br><br><br><br>
</body>
<% include partials/footer.ejs %>
</main>
</html>