<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
           Home Page
        </title>
</head>
<main>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">


            <div id="corpoPagina">
                <br>

                <div class="formContainer">
                    <% include partials/cercaUtenzeForm.ejs %>
                </div>
            </div>
       
   
    </div>
    
</body>

</main>

<center>
    <hr class = 'col-sm-8'> 
    </center>
    <br>
<% include partials/footer.ejs %>
</html>


