<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    Cerca Utenza
    </title>
</head>
<main>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <div class="formContainer">
            <br><br><br><br>
            <% include partials/FormCercaUtenza.ejs %>
            </div>
        </div>
    </div>
</main>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<% include partials/footer.ejs %> 
</body>
</html>