<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
            Elenco mezzi
        </title>
</head>

<body>
    <% include partials/navbar.ejs %>
            <div class="container">
                
             
                <div id="corpoPagina">
                    <h3>Elenco dei Mezzi</h3>
                    <div class="formContainer">
                                <% include partials/ElencoMezzi.ejs %>
                    </div>
                </div>
              
            </div>
            <% include partials/footer.ejs %>
           
           
</body>

</html>