<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
            Aggiungi Parcheggio
        </title>
</head>

<body>
            <div class="container">
                <% include partials/navbar.ejs %>
             
                <div id="corpoPagina">
                    <h3>Aggiungi un nuovo Parcheggio</h3>
                    <div class="formContainer">
                                <% include partials/regform.ejs %>
                    </div>
                </div>
              
            </div>
            <% include partials/footer.ejs %>
            <script src="/javascripts/formval.js"></script>
            <script>
                var today = new Date().toISOString().split('T')[0];
                document.getElementsByName("birthdate")[0].setAttribute('max', today);
                
            </script>
           
</body>

</html>