<!DOCTYPE html>
<html>

<head></head>
    <%- include('partials/head') -%>
        <title>
          Segnala Guasto
        </title>
        

</head>
<br>
<body>
    <div class="container">
        <% include partials/navbar.ejs %>
        <div id="corpoPagina">
            <div class="contenutoPagina">
                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <% include partials/SegnalaGuasto.ejs%>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </div>   
</body>
</html>