<!DOCTYPE html>
<html>
<head>
<%- include('partials/head') -%>
    <title>
    Gestione Mezzi
    </title>
</head>
<main>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <div class="formContainer">
                <% include partials/GestioneMezzi.ejs %>
            </div>
        </div>
    </div>
</body>
</main>
<br><br><br>
<br><br><br>
<br><br><br>
<% include partials/footer.ejs %>
</html>