<!DOCTYPE html>
<html>
    <head>
    <%- include('partials/head') -%>
        <title>
            Impiegato Parcheggio
        </title>
</head>

<body>
    
            <div class="container">
                <% include partials/navbar.ejs %>
             
                <div id="corpoPagina">
                    <h3><br>Pagina Riservata all'Impiegato del Parcheggio</h3>
                    <div class="formContainer">
                                <% include partials/ImpiegatoParcheggio.ejs %>
                    </div>
                </div>
               
            </div>
            <% include partials/footer.ejs %>
</body>

</html>