<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
            Miei incarichi
        </title>
</head>

<body>
    
    <% include partials/navbar.ejs %>
    <div class="container">

            <div id="corpoPagina">
                <br>

                <h3> Miei incarichi</h3>
                <div class="formContainer">
                    <% include partials/mieiIncarichi.ejs %>
                </div>
            </div>
          <hr class="featurette-divider"> 
    </div>
    <% include partials/footer.ejs %>

</body>

</html>