<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
          Dati Mezzo
        </title>
</head>

<body>
    <% include partials/navbar.ejs %>
            <div class="container">
             
             
                <div id="corpoPagina">
                    <br>
                    
                    <h3>Mezzo: </h3>
                    <div class="formContainer">
                                <% include partials/risultatiNoleggio %>
                    </div>
                </div>
              
            </div>

            <% include partials/footer.ejs %>
           
</body>

</html>