<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
           Home Page
        </title>
</head>
<main>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
       

            <div id="corpoPagina">
                <br>

                <div class="formContainer">
                    <% include partials/gestione_utenze.ejs %>
                </div>
            </div>
   
        </body>
            <br>
          <hr class="featurette-divider"> 
    </div>
    
   

</main>

<br>
<br>
<% include partials/footer.ejs %>
</html>