<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
    <br> <title>
            Mezzi nel Parcheggio
        </title>
</head>

<body>
    <% include partials/navbar.ejs %>
            <div class="container">
              
             
                <div id="corpoPagina">
                    <h3>Elenco Mezzi del Parcheggio</h3>
                    <div class="formContainer">
                                <% include partials/RecuperoPassword.ejs %>
                    </div>
                </div>
          
            </div>


           
</body>
<center>
<hr class = "col-sm-8"> 
</center>
<br><br><br><br>
<br>
<br><br><br>
<% include partials/footer.ejs %>

</html>