<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    Dati Mezzo
    </title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <h3>Scheda Mezzo: </h3>
            <div class="formContainer">
                <% include partials/DatiMezzo.ejs %>
            </div>
        </div>
    </div>
</body>
<br><br><br><br><br><br><br>
<% include partials/footer.ejs %>
</html>