<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    Modifica Mezzo
    </title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <center>
            <h3>Modifica Mezzo</h3>
            </center>
            <div class="formContainer">
                <% include partials/FormModificaMezzo.ejs %>
            </div>
        </div>
     </div>
</body>
<br><br>
<% include partials/footer.ejs %>
</html>