<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
            Pagina Di Modifica Mezzo
        </title>
</head>

<body>
    <% include partials/navbar.ejs %>

    <div class="container">
       
            <div id="corpoPagina">
                <br>

                <h3>Modifica Mezzo</h3>
                <div class="formContainer">
                    <% include partials/modificamezzoform.ejs %>
                </div>
            </div>
          <hr class="featurette-divider"> 
    </div>
    <br><center><hr class = "col-sm-8"></center>
    <br>
    <% include partials/footer.ejs %>

</body>

</html>