<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
            Modifica Parcheggio
        </title>
</head>

<body>
            <div class="container">
                <% include partials/navbar.ejs %>
             
                <div id="corpoPagina">
                    <h3>Modifica un Parcheggio</h3>
                    <div class="formContainer">
                                <% include partials/modificaparcheggio.ejs %>
                    </div>
                </div>
              
            </div>
            <% include partials/footer.ejs %> 
</body>

</html>