<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    Modifica Dati
    </title>
</head>
<main>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <h3>Nuovi Dati:</h3>
            <div class="formContainer">
                <% include partials/FormModificaDati.ejs %>
            </div>
        </div>
    </div>
</main>
</body>
<br><br><br><br>
<% include partials/footer.ejs %> 
</html>