<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    Modifica Parcheggio
    </title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <div class="formContainer">
                <% include partials/FormModificaParcheggio.ejs %>
            </div>
        </div>
    </div>
<br>
<br>
<% include partials/footer.ejs %> 
</body>
</html>