
<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
          Pannello Utente
        </title>
</head>

<body>

    <% include partials/navbar.ejs %>
            <div class="container">
               
             
                <div id="corpoPagina">
                    <br>
                    
                    <h3>Nuovi Dati:</h3>
                    <div class="formContainer">
                                <% include partials/modificadati2.ejs %>
                    </div>
                </div>
              
            </div>
            <br>
            <center><hr class = "col-sm-8"></center>
         <br>
                
            </script>
           
</body>

</html>