<!DOCTYPE html>
<html>
<head></head>
    <%- include('partials/head') -%>
    <title>
    Modifica Noleggio
    </title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <div class="contenutoPagina">
                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <% include partials/FormModificaNoleggio.ejs%>
                </div>
            </div>
        </div>
     </div>  
<br>
<center><hr class ="col-sm-8"></center>
<br>
<% include partials/footer.ejs %>
</body>
</html>