<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
          Noleggio
        </title>
        

</head>

<main>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
 
        <div id="corpoPagina">
            <div class="contenutoPagina">
                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <% include partials/FormNoleggioMezzo.ejs%>
                </div>
            </div>
        </div>
        <hr class="featurette-divider"> </hr>
    
    </div>  

</main>
<br>
<center><hr class ="col-sm-8"></center>
<br>
<% include partials/footer.ejs %> 

</body>
</html>