<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    Noleggio
    </title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <h3>Da testare: </h3>
            <div class="formContainer">
                <% include partials/RisultatiNoleggio %>
            </div>
        </div>
    </div>
<br><br>
<% include partials/footer.ejs %>
</body>
</html>