<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
          Dati Mezzo
        </title>
</head>

<body>
    <% include partials/navbar.ejs %>
             
            <div class="container">
                
                <div id="corpoPagina">
                    <br>
                    
                    <h3>Mezzo: </h3>
                    <div class="formContainer">
                                <% include partials/fineNoleggio%>
                    </div>
                </div>
          
            </div>
            <br>
            <center><hr class ="col-sm-8"></center>
            <br>
            <% include partials/footer.ejs %>
           
</body>