<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
            Pagina Utente
        </title>
</head>

<body>
            <div class="container">
                <% include partials/navbar.ejs %>
             
                <div id="corpoPagina">
                    <br>
                    
                    <h3>Pannello Utente</h3>
                    <div class="formContainer">
                        <% include partials/pannelloUtente.ejs %>
                    </div>
                </div>
            </div>
           

            <% include partials/footer.ejs %>  
        </body>
            <script src="/javascripts/formval.js"></script>
            <script>
                var today = new Date().toISOString().split('T')[0];
                document.getElementsByName("birthdate")[0].setAttribute('max', today);
                
            </script>
        


</html>