<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
            Pagina Parcheggio
        </title>
</head>

<body>
            <div class="container">
                <% include partials/navbar.ejs %>
             
                <div id="corpoPagina">
                    <br>
                    
                    <h3>Pannello Parcheggio</h3>
                    <div class="formContainer">
                        <% include partials/pannelloParcheggio.ejs %>
                    </div>
                </div>
                <% include partials/footer.ejs %>
            </div>

           
           
</body>

</html>