<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <br> 
    <title>
    Recupero Password
    </title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <div class="formContainer">
<br><br><br><br><br><br>            
                <% include partials/FormRecuperoPassword.ejs %>
            </div>
        </div>
    </div>
</body>
<center>
<hr class = "col-sm-8"> 
</center>
<br><br><br><br>
<br><br><br><br>
<% include partials/footer.ejs %>
</html>
