<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
    <title>
    Registra Utenza
    </title>
</head>
<main> 
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <div class="formContainer">
                <% include partials/FormRegistrazioneUtenza.ejs %>
            </div>
        </div>
    </div>
</body>
</main>
<br>
<br>
<% include partials/footer.ejs %>
</html> 