<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
    <br>
        <title>
            Ricerca Parcheggio
        </title>
</head>

<body>
            <div class="container">
                <% include partials/navbar.ejs %>
             
                <div id="corpoPagina">
                    <h3>Ricerca Parcheggio</h3>
                    <div class="formContainer">
                                <% include partials/RicercaParcheggio.ejs %>
                    </div>
                </div>
              
            </div>
            <% include partials/footer.ejs %>

           
</body>

</html>