<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    Dati Mezzo
    </title>
</head>
<main>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <center><h3>Ricerca Parcheggi: </h3></center>
            <div class="form-Container">
                <% include partials/RicercaParcheggio.ejs%>
            </div>
        </div>
    </div>
</body>
</main>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<% include partials/footer.ejs %>
</html>

        