<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
          Segnala Guasto
        </title>
</head>

<body>
    <% include partials/navbar.ejs %>
            <div class="container">
                
             
                <div id="corpoPagina">
                    <br>
                    
                    <h3> Segnala Guasto: </h3>
                    <div class="form-Container">
                                <% include partials/SegnalaGuasto%>
                                <hr class="featurette-divider">
                    <br><br>
                            </div>
                </div>
           
            </div>
            <br>
            <center><hr class ="col-sm-8"></center>
            <br>
            <% include partials/footer.ejs %>
           
</body>