<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    Pagamento
    </title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <div class="formContainer">
                <% include partials/FormSelezionaPagamento%>
            </div>
        </div>
    </div>
<br><br>
<% include partials/footer.ejs %>
</body>
</html>