<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') -%>
        <title>
           Home Page
        </title>
</head>

<body>
    <% include partials/navbar.ejs %>
    <div class="container">
      

            <div id="corpoPagina">
                <br>

                <div class="formContainer">
                    <% include partials/datiUtenteCercato.ejs %>
                </div>
            </div>
        
    </div>
    <br>
<center><hr class ="col-sm-8"></center>
<br>
    <% include partials/footer.ejs %>

</body>

</html>