<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    QR code
    </title>
</head>
<body>
    <div class="container">
       <div id="corpoPagina">
            <br>
            <div class="formContainer">
                <% include partials/qrCode.ejs %>
            </div>
        </div>
    </div>
</body>
</html>