<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') -%>
    <title>
    Visualizza Mezzo
    </title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div id="corpoPagina">
            <br>
            <br>
            <div class="form-Container">
                <% include partials/RicercaMezzo.ejs%>
            </div>
        </div>
    </div>
<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<% include partials/footer.ejs %>
</body>
</html>